body{
    background-color: teal;

}
h1{
    color: tomato;
    text-align: center;
}
h2{
    color: violet;
    text-align: right;
}
h3{
    color: goldenrod;
    text-align: end;
}
h4{
    color: darkgreen;
    text-align: left;
}